<!--
  Generated template for the PlanningPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PLANEJAMENTO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row *ngIf="materias && !showHelp">
      <ion-list inset>
        <button ion-item *ngFor="let materia of materias" (click)="openPlanning(materia)">
          <ion-avatar item-start>
            <!-- <img [src]="item.icon"> -->
          </ion-avatar>
          <h2 style="font-weight: bold;" text-uppercase ion-text color=blue-payplug>{{materia.title}}</h2>
          <h3 ion-text color=blue-payplug text-wrap>{{materia.description}}</h3>
        </button>
      </ion-list>
    </ion-row>
  </ion-grid>

</ion-content>
