page-landing {
  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }
  .slide1 {
    background: url('../assets/imgs/slide1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .slide2 {
    background: url('../assets/imgs/slide2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .slide3 {
    background: url('../assets/imgs/slide3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .slide4 {
    background: url('../assets/imgs/slide4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .slide5 {
    background: url('../assets/imgs/slide5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .slide6 {
    background: url('../assets/imgs/slide6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .landing-text {
    font-size: 14px;
  }
  $slides-pagination-bullet-color-active: color($colors,
  atla-red) !default;
  .swiper-pagination-bullet-active {
    background: $slides-pagination-bullet-color-active;
  }
  div.swiper-pagination {
    top: 20px;
    bottom: inherit;
  }
  ion-header, ion-slides, ion-footer {
    background-color: rgba(0,0,0,0.5);
  }
}
