<ion-list>
  <ion-item-sliding *ngFor="let request of requests">
    <ion-item *ngIf="request.status == status">
      <ion-avatar item-start>
        <img [src]="request.requesting.avatar">
      </ion-avatar>
      <h2>{{request.requesting.user.people.name}}</h2>
      <p>{{request.requesting.user.shortName}}</p>
      <p>{{request.requesting.serie}}º Ano</p>
    </ion-item>
    <ion-item-options side="left" (click)="action('denied', request._id)">
      <button ion-button color="light">
        <ion-icon name="arrow-up"></ion-icon>
        Recusar
      </button>

    </ion-item-options>
    <ion-item-options side="right">

      <button ion-button color="secondary" (click)="action('accepted', request._id)">
        <ion-icon name="arrow-down"></ion-icon>
        Aceitar
      </button>
    </ion-item-options>
  </ion-item-sliding>

  <p ion-text text-center *ngIf="!requests && status == 'waiting'">Não há solicitações pendentes</p>
  <p ion-text text-center *ngIf="!requests && status == 'accepted'">Não há solicitações aceitas</p>
</ion-list>