<!--
  Generated template for the SchoolsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar tranparent>
    <ion-title>Escolas da Rede</ion-title>
    <ion-buttons end>
      <button ion-button icon-end (click)="openHelp()">
        Ajuda
        <ion-icon name="info"></ion-icon>
      </button> </ion-buttons
  ></ion-navbar>
  <ion-toolbar> <profile-status-header></profile-status-header> </ion-toolbar>

  <ion-segment
    padding-horizontal
    [(ngModel)]="step"
    color="atla-red"
    *ngIf="
      profile.school?.status === 'accepted' ||
      profile.county?.status === 'accepted'
    "
    (ionChange)="onSegmentChange($event)"
  >
    <ion-segment-button value="schools"> Escolas </ion-segment-button>
    <ion-segment-button value="courses"> Cursos </ion-segment-button>
    <ion-segment-button value="schoolYear"> Calendários </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content no-padding>
  <ion-grid
    *ngIf="
      profile.school?.status === 'accepted' ||
      profile.county?.status === 'accepted'
    "
  >
    <div [ngSwitch]="step">
      <ion-list *ngSwitchCase="'schools'">
        <p ion-text text-center *ngIf="schools">
          Você administra {{ schools.length }} escolas
        </p>
        <button
          ion-item
          *ngFor="let school of schools"
          (click)="openSchoolClassRooms(school._id)"
        >
          <ion-thumbnail item-start>
            <img [src]="school.avatar" />
          </ion-thumbnail>
          <h2 text-wrap>{{ school.institution.name }}</h2>
          <p>
            {{ school.professors.length }}
            {{ school.professors.length == 1 ? "professor" : "professores" }}
          </p>
          <p>
            {{ school.classrooms.length }}
            {{ school.classrooms.length == 1 ? "turma" : "turmas" }}
          </p>
          <p>{{ school.school_managers.length }} gestores</p>
        </button>
      </ion-list>

      <ion-list *ngSwitchCase="'courses'">
        <ion-item
          *ngFor="let course of courses"
          (click)="openCourseDetail(course)"
        >
          {{ courseName }}
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'schoolYear'">
        <ion-row padding>
          <button ion-button icon-left (click)="addSchoolYear()">
            <ion-icon name="add"></ion-icon>
            Adicionar calendário
          </button>
        </ion-row>
        <ion-item *ngFor="let year of schoolYears" (click)="openYear(year)">
          <h2>{{ year.year | date: "yyyy":"+0000" }}</h2>
          <h4>{{ year.regime.showValue }}</h4>
          <h4>{{ year.end }}</h4>
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>
