<form style="width: 100%" [formGroup]="personalForm" (ngSubmit)="onSubmit()">
  <ion-item padding-horizontal>
    <ion-label stacked>Nome Completo</ion-label>
    <ion-input formControlName="name" type="text"></ion-input>
  </ion-item>

  <ion-item padding-horizontal>
    <ion-label stacked>Sexo</ion-label>
    <ion-select formControlName="gender">
      <ion-option *ngFor="let gender of genders" [value]="gender.value">{{gender.viewValue}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item padding-horizontal>
    <ion-label stacked>Data de Nascimento</ion-label>
    <ion-input formControlName="born" type="text"></ion-input>
  </ion-item>

  <ion-item padding-horizontal>
    <ion-label stacked>RG</ion-label>
    <ion-input formControlName="rg" type="text"></ion-input>
  </ion-item>

  <ion-item padding-horizontal>
    <ion-label floating>Estado</ion-label>
    <ion-select formControlName="rg_uf">
      <ion-option *ngFor="let state of states" [value]="state.abbr">{{state.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item padding-horizontal>
    <ion-label stacked>CPF</ion-label>
    <ion-input formControlName="cpf" type="text"></ion-input>
  </ion-item>
  <ion-item padding no-lines>
    <button padding block ion-button type="submit">SALVAR</button>
  </ion-item>
</form>
