<form [formGroup]="formSchool">
  <ion-row>
    <ion-col>
      <ion-item padding-horizontal>
        <ion-label floating>Cargo</ion-label>
        <ion-select formControlName="role">
          <ion-option *ngFor="let role of roles" [value]="role.value">{{role.viewValue}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item padding-horizontal>
        <ion-label>Adicionar Escola</ion-label>
        <ion-toggle formControlName="hasSchool"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>

  <div *ngIf="formSchool.value.hasSchool">
    <!-- Seleção do Estado -->

    <ion-row>
      <ion-col>
        <ion-item padding-horizontal>
          <ion-label floating>Estado</ion-label>
          <ion-select (ionChange)="stateChanged($event)">
            <ion-option *ngFor="let state of states" [value]="state.id">{{state.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Seleção do Município -->

    <ion-row>
      <ion-col>
        <ion-item padding-horizontal>
          <ion-label floating>Município</ion-label>
          <ion-select (ionChange)="countyChanged($event)">
            <ion-option *ngFor="let county of counties" [value]="county._id">{{county.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Seleção da Escola -->
    <ion-row>
      <ion-col>
        <ion-item padding-horizontal>
          <ion-label floating>Escola</ion-label>
          <ion-select formControlName="school">
            <ion-option *ngFor="let school of schools" [value]="school._id">{{school.institution.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</form>