<form [formGroup]="parentPage.form" (ngSubmit)="onSubmit()">
  <ion-row>
    <ion-col>
      <ion-item padding-horizontal>
        <ion-label floating>* Nível de Atuação</ion-label>
        <ion-select formControlName="level" (ionChange)="levelChanged($event)">
          <ion-option
            *ngFor="let level of levels"
            [value]="level.value"
            [disabled]="level.availability !== 'done'"
            >{{ level.viewValue }}</ion-option
          >
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row margin-bottom>
    <ion-col>
      <ion-item padding-horizontal>
        <ion-label stacked>* Ano</ion-label>
        <ion-select formControlName="serie">
          <ion-option *ngFor="let year of years" [value]="year.value">{{
            year.viewValue
          }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item padding-horizontal>
        <ion-label stacked>* Discplinas</ion-label>
        <ion-select formControlName="subjects" multiple="true">
          <ion-option
            *ngFor="let subject of subjects"
            [value]="subject.value"
            >{{ subject.viewValue }}</ion-option
          >
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item padding-horizontal>
        <ion-label>Adicionar Escola</ion-label>
        <ion-toggle formControlName="hasSchool"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>

  <div *ngIf="parentPage.form.value.hasSchool">
    <!-- Seleção do Estado -->

    <ion-row>
      <ion-col>
        <ion-item padding-horizontal>
          <ion-label floating>Estado</ion-label>
          <ion-select (ionChange)="stateChanged($event)">
            <ion-option *ngFor="let state of states" [value]="state.id">{{
              state.name
            }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Seleção do Município -->

    <ion-row>
      <ion-col>
        <ion-item padding-horizontal>
          <ion-label floating>Município</ion-label>
          <ion-select (ionChange)="countyChanged($event)">
            <ion-option *ngFor="let county of counties" [value]="county._id">{{
              county.name
            }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Seleção da Escola -->
    <ion-row>
      <ion-col>
        <ion-item padding-horizontal>
          <ion-label floating>Escola</ion-label>
          <ion-select formControlName="school">
            <ion-option *ngFor="let school of schools" [value]="school._id">{{
              school.institution.name
            }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <ion-row>
    <ion-col padding-horizontal> <p>(*) Campos obrigatórios</p> </ion-col>
  </ion-row>
  <ion-row padding-vertical>
    <ion-col>
      <button type="submit" ion-button block full>CRIAR PERFIL</button>
    </ion-col>
  </ion-row>
</form>
