<!--
  Generated template for the AppsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="settings"></ion-icon></button>
    <ion-searchbar
      placeholder="Buscar"
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
    >
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-end>
        Ajuda
        <ion-icon name="info"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-item>
    <ion-label stacked>{{ label }}</ion-label>
    <ion-select
      ion-text
      text-wrap
      [(ngModel)]="profileSelected"
      (ionChange)="changeSelected()"
    >
      <ion-option
        ion-text
        text-wrap
        *ngFor="let profile of profiles"
        [value]="profile"
      >
        {{
          profile.school
            ? profile.school.requested.institution.name
            : profile.$showType
        }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item-group [reorder]="editing" (ionItemReorder)="reorderData($event)">
      <button
        no-lines
        ion-item
        *ngFor="let page of privatePages"
        (click)="openPage(page)"
      >
        <ion-thumbnail item-left> <img [src]="page.icon" /> </ion-thumbnail>
        <h2>{{ page.title }}</h2>
        <p></p>
      </button>
    </ion-item-group>
  </ion-list>
  <ion-row>
    <ion-col>
      <button block small outline ion-button icon-left (click)="toggleEdit()">
        <ion-icon name="swap"></ion-icon>
        {{ editButton }}
      </button>
    </ion-col>
  </ion-row>
</ion-content>
