<form [formGroup]="parentPage.form" (ngSubmit)="onSubmit()">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Estado</ion-label>
        <ion-select (ionChange)="stateChanged($event)">
          <ion-option *ngFor="let state of states" [value]="state.id">{{
            state.name
          }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Município</ion-label>
        <ion-select formControlName="county">
          <ion-option *ngFor="let county of counties" [value]="county._id">{{
            county.name
          }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Cargo</ion-label>
        <ion-select formControlName="role">
          <ion-option
            ion-text
            text-wrap
            *ngFor="let role of roles"
            [value]="role.value"
            >{{ role.viewValue }}</ion-option
          >
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col padding-horizontal> <p>(*) Campos obrigatórios</p> </ion-col>
  </ion-row>
  <ion-row padding-vertical>
    <ion-col>
      <button type="submit" ion-button block full>CRIAR PERFIL</button>
    </ion-col>
  </ion-row>
</form>
