<ion-list inset>
  <button
    ion-item
    *ngFor="let professor of professors"
    (click)="openPage(professor)"
  >
    <ion-avatar item-start>
      <img [src]="professor.requesting.avatar" />
    </ion-avatar>
    <h2 text-wrap>{{ professor.requesting.user.people.name }}</h2>
    <p>{{ professor.requesting.user.shortName }}</p>
    <p>{{ professor.requesting.serie }}º Ano</p>
  </button>
  <p *ngIf="professors?.length == 0" ion-text text-center>
    {{ "HAS_NO_AVAILABLE_PROFESSORS" | translate }}
  </p>
</ion-list>
