<ion-header no-border>

  <ion-navbar transparent text-center>
    <ion-title>
      <img height="40" src="assets/imgs/atla-red-full.png">
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top transparent>
    <ion-segment [(ngModel)]="step" color="atla-red">
      <ion-segment-button [disabled]="statusUser" value="user">
        Usuário
      </ion-segment-button>
      <ion-segment-button [disabled]="statusProfile" value="profile">
        Perfil
      </ion-segment-button>
      <ion-segment-button [disabled]="statusLink" value="link">
        Vínculo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="step" col-xl-8 offset-xl-2>
    <ion-grid *ngSwitchCase="'user'" padding>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Celular</ion-label>
          <ion-input disabled=true [ngModel]=cellphone type="number"></ion-input>
        </ion-item>
      </ion-row>
      <form (submit)="updateUser()" [formGroup]="form" no-padding>
        <ion-row>
          <ion-item no-padding>
            <ion-label stacked>Nome completo</ion-label>
            <ion-input formControlName=name type="text"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item no-padding>
            <ion-label stacked>Nome de usuário</ion-label>
            <ion-input formControlName=shortName type="text"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row margin-top>
          <button text-uppercase ion-button solid large full color="atla-red" type="submit">
            {{ 'NEXT_BUTTON' | translate}}
          </button>
        </ion-row>
      </form>

    </ion-grid>
    <ion-grid *ngSwitchCase="'profile'">
      <ion-row>
        <ion-col col-2>
          <button ion-button icon-left color=atla-red (click)="openModal(item)">
            <ion-icon name=add></ion-icon>
            NOVO PERFIL
          </button>
        </ion-col>
        <ion-col offset-8 col-2>
          <button ion-button icon-only color=atla-red (click)="showHelpAction()">
            <ion-icon name=help></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!items || showHelp">
        <ion-slides pager="true">
          <ion-slide *ngFor="let slide of slides">
            <!-- <img style="width: 80px; height: 80px;" [src]="slide.icone" class="slide-image" /> -->
            <h3 ion-text text-uppercase [innerHTML]="slide.title"></h3>
            <ion-grid>
              <ion-row>
                <ion-col col-8 offset-2>
                  <p class="landing-text" ion-text text-uppercase [innerHTML]="slide.description"></p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </ion-row>

      <ion-list inset *ngIf="items && !showHelp">
        <button ion-item *ngFor="let item of items" (click)="openModal(item)">
          <ion-avatar item-start>
            <img [src]="item.icon">
          </ion-avatar>
          <h2 style="font-weight: bold;" text-uppercase ion-text color=blue-payplug>{{item.title}}</h2>
          <h3 ion-text color=blue-payplug text-wrap>{{item.description}}</h3>
        </button>
      </ion-list>

      <ion-row>
        <button ion-button full color=atla-red text-uppercase (click)="start()">{{'START_BUTTON' | translate}}</button>
      </ion-row>

    </ion-grid>
    <ion-grid *ngSwitchCase="'link'">
      <ion-row>
        <h3>Link</h3>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
