<!--
  Generated template for the ClassroomDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Detalhes da Turma</ion-title>
  </ion-navbar>

  <ion-item>
    <ion-label>Turma</ion-label>
    <ion-select [(ngModel)]="currentClassroom" (ionChange)="getClassroomInfo()">
      <ion-option
        *ngFor="let classroom of profile.classrooms"
        [value]="classroom._id"
        >{{ classroom.series + " | " + classroom.subClass }}</ion-option
      >
    </ion-select>
  </ion-item>

  <ion-item no-lines *ngIf="classroom">
    <h2 text-wrap>{{ classroom.series }}</h2>
    <h2>Turma: {{ classroom.subClass }}</h2>
    <p>Operação: {{ classroom.hour }}</p>
    <p>Alunos: {{ classroom.students.length }}</p>
    <p>Turno: {{ classroom.shift }}</p>
  </ion-item>

  <ion-segment padding-horizontal [(ngModel)]="show">
    <ion-segment-button value="students"> Alunos</ion-segment-button>
    <ion-segment-button value="professors"> Professores</ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content no-padding>
  <ion-row *ngIf="profile.school && profile.school.status === 'waiting'">
    <ion-col>
      <p ion-text text-center>
        Seu perfil ainda não tem permissão de acesso. Entre em contato com a sua
        escola para liberação.
      </p>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="profile.school && profile.classrooms.length === 0">
    <ion-col>
      <p ion-text text-center>
        Seu perfil ainda não tem nenhuma turma atribuída. Entre em contato com a
        sua escola para liberar o acesso às suas turmas.
      </p>
    </ion-col>
  </ion-row>

  <div *ngIf="classroom" [ngSwitch]="show">
    <ion-list *ngSwitchCase="'students'">
      <button
        ion-item
        *ngFor="let student of students"
        (click)="openEnrollment(student)"
      >
        <h2 text-wrap>{{ student.basic["Nome do Aluno"] }}</h2>
        <p>CGM: {{ student.basic.CGM }}</p>
        <p>Idade: {{ student.basic.Idade }}</p>
        <p>Sexo: {{ student.basic.Sexo }}</p>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'professors'">
      <ion-item *ngFor="let professor of requests">
        <ion-thumbnail item-start>
          <img [src]="professor.requesting.avatar" />
        </ion-thumbnail>
        <h2 text-wrap>{{ professor.requesting.user.people.name }}</h2>
        <button
          *ngIf="!professor.requesting.classrooms.includes(classroom._id)"
          ion-button
          small
          item-end
          (click)="activateProfessor(professor.requesting._id)"
        >
          Ativar
        </button>
        <button
          *ngIf="professor.requesting.classrooms.includes(classroom._id)"
          ion-button
          small
          item-end
          (click)="deactivateProfessor(professor.requesting._id)"
        >
          Desativar
        </button>
      </ion-item>
      <p ion-text text-center *ngIf="!requests">
        Nenhum professor se cadastrou para este Ano.
      </p>
    </ion-list>
  </div>
</ion-content>
