<!--
  Generated template for the AuthorizationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Autorização</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item no-lines>
          <ion-avatar item-start>
            <img [src]="profile.avatar">
          </ion-avatar>
          <h2 style="font-weight: bold;" text-wrap text-capitalize ion-text>{{profile.showType}}</h2>
          <h3 text-capitalize *ngIf="profile.role" ion-text text-wrap>{{profile.role.type | translate}}</h3>
          <h3 *ngIf="profile.school" ion-text text-wrap text-capitalize>{{profile.school.requested.institution.name}}</h3>
          <ion-badge *ngIf="profile.main">principal</ion-badge>
          <ion-icon *ngIf="profile.school && profile.school.status === 'accepted'" item-end color="secondary" name="checkmark-circle"></ion-icon>
          <ion-icon *ngIf="profile.school && profile.school.status === 'waiting'" item-end color="primary" name="time"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="profile.school && profile.school.status === 'waiting'">
      <ion-col>
        <p ion-text text-center>Seu perfil ainda não tem permissão de acesso. Entre em contato com a sua escola para
          liberação.</p>
      </ion-col>
    </ion-row>

    <ion-segment [(ngModel)]="step" color="atla-red" *ngIf="profile.school && profile.school.status === 'accepted'">
      <ion-segment-button value="pending">
        Pendentes
      </ion-segment-button>
      <ion-segment-button value="accepted">
        Aceitas
      </ion-segment-button>
    </ion-segment>

    <div no-padding [ngSwitch]="step" col-xl-8 offset-xl-2>
      <requests [status]="'waiting'" [requests]="requests" *ngSwitchCase="'pending'"></requests>
      <requests [status]="'accepted'" [requests]="requests" *ngSwitchCase="'accepted'"></requests>
    </div>

  </ion-grid>

</ion-content>