<ion-header no-border>

  <ion-navbar transparent text-center>
    <ion-title>
      <img height="40" src="assets/imgs/atla-red-full.png">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid col-xl-8 offset-xl-2>
    <ion-row>
      <ion-col text-center>
        <h2 text-uppercase (click)="hidevalue ? back() : showWaitAlert()">
          {{cellphone}}
        </h2>
        <p *ngIf="hidevalue">{{ 'SWITCH_NUMBER' | translate}}</p>
        <p>
          {{ 'REGISTER_PHONE_CHECK_DESCRIPTION' | translate}}
        </p>
      </ion-col>
    </ion-row>
    <form (submit)="next()" [formGroup]="form">
      <ion-row>
        <ion-item no-padding>
          <ion-input text-center formControlName="code" type="text" placeholder="Código"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row padding-top>
        <ion-col no-padding>
          <button text-uppercase ion-button solid large full color="atla-red">
            {{ 'NEXT_BUTTON' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col col-12>
        <p text-center *ngIf="!hidevalue"> Você poderá reenviar o códido ou alterar o número depois de {{maxTime}}
          segundos.</p>
      </ion-col>
    </ion-row>
    <ion-row padding-top *ngIf="hidevalue">
      <ion-col col-12>
        <button text-uppercase ion-button full color="atla-red" (click)="resend()">
          {{ 'RESEND_CODE' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
