<form [formGroup]="formStudent">
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Cursando</ion-label>
        <ion-select formControlName="level" (ionChange)="levelChanged($event)">
          <ion-option *ngFor="let level of levels" [value]="level.value">{{level.viewValue}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row margin-bottom>
    <ion-col>
      <ion-item>
        <ion-label floating>Ano</ion-label>
        <ion-select formControlName="year">
          <ion-option *ngFor="let year of years" [value]="year.value">{{year.viewValue}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item-divider color="light">ESCOLA</ion-item-divider>
</form>
