<!--
  Generated template for the NewsNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start (click)="dismiss()">
      <button ion-button>
        Cancelar
      </button>
    </ion-buttons>
    <!-- <ion-title text-wrap>Acessando como {{currentProfile.getShowType()}}</ion-title> -->
    <ion-buttons end>
      <button ion-button item-end (click)="send()">Enviar</button>
    </ion-buttons>
  </ion-navbar>
  <ion-item *ngIf="isProfile(currentProfile)" no-lines (click)="showProfile()">
    <ion-avatar item-start>
      <img src="assets/imgs/placeholder.png">
    </ion-avatar>
    <p text-wrap>Acessando como {{currentProfile.$showType}}</p>
    <p *ngIf="currentProfile.role">{{currentProfile.role.type | translate}}</p>
    <p *ngIf="currentProfile.school">{{currentProfile.school.requested.institution.name}}</p>
  </ion-item>
</ion-header>


<ion-content padding>
  <ion-grid>
    <form [formGroup]="newsForm">
      <ion-row>
        <ion-item>
          <ion-label stacked>O que tem para nos contar?</ion-label>
          <ion-textarea #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()" formControlName="content"></ion-textarea>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label floating>Visibilidade</ion-label>
          <ion-select formControlName="visibility" multiple="false">
            <ion-option *ngFor="let option of options" [value]="option.value">{{option.viewValue}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>